.todo {
    background-color: rgb(40, 43, 65);
    height: 12rem;
    
}



#menu{
    
    padding: 0.4;
    flex: 5;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 15px;
    display:inline-block;
}

a {
    background-color: black;
    color: rgb(255, 255, 255);
}

/* informacion de las cajas */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}
.card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}

.boxescontainers {
    padding: 2px 16px;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul p{display: inline-block; text-align: left;}
ul li{display: inline-block;}
ul li:hover ul{display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: aqua; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: aqua;}


#titulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.69rem;
    color: rgb(0, 0, 0);
}

.parrafo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

.encabesoda {
    text-align: center;
    background-color: rgb(222, 227, 177);
    padding: 0.4rem;
    border: 1px solid;
    border-radius: 10px;
}

.encabesoda .contenido{
    height: 100%;
    display: inline-block;
}

#name_user{background-color: white;}

#secion {
    color: white;
    background-color: black;
    border: 1px solid;
    border-radius: 10px;
}

#registro {
    color: white;
    background-color: black;
    border: 1px solid;
    border-radius: 10px;    
}


/* FOOTER */
.footer{
    position: absolute;
    left: 0%;
    bottom: -125%;
    width: 100%;
    background:#000;
    padding:30px 0px;
    font-family: "Comic Sans MS",cursive,sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }

    .imgmastercard{
        height: 50px;
        width: 60px;
    }
    .imgvisa{
        height: 50px;
        width: 70px;
    }
    .imgpluxee{
        height: 50px;
        width: 50px;
    }