* {
    box-sizing: border-box;
}

.todo {
    background-color: rgb(40, 43, 65);
    height: 12rem;
    margin: 0;
    font-family: sans-serif;
    
}

#name_user{color: #000000;}

.encabezado {
    padding: 1.5rem 2rem;
    text-align: center;
    background-color: rgb(222, 227, 177);
    border: 2px solid;
    width: 100%;
}

.encabezado .contenido{
    height: 100%;
    display: inline-block;
}

#imagen-logo{
    height: 200px;
}

#name_user{color: white; font-size: 40px;}

#menu{
    flex: 5;
    text-decoration: none;
    color: #FFE2C7;
    font-size: 30px;
    padding: 15px;
    border: 2px solid;
    border-radius: 18px;
    background-color: #FFE2C7;

}

a {color: rgb(0, 0, 0);}

h4{
    text-align: center;
    font-size: 20px;
}

#card-data{
    text-align: center;
    font-size: 15px;
}

/* informacion de las cajas */

#productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.seccion{
    background-color: #fff;
    width: 100%;
    position: static;
    text-align: center;
}



.productos div {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
}
.productos div img{
    width: 100%;
}
.boxescard{
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
}

.card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}

.boxescontainers {
    padding: 2px 16px;
    isolation: isolate;
    overflow: hidden;
}
.boxescard:hover{ 
    size: 120%;
    color: rgb(255, 0, 0);
    background-color: #787878;
}

 
/*barra rapida*/
ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul p{display: inline-block; text-align: left;}
ul li{display: inline-block; padding: 1rem;}
ul li a{text-decoration: none;}
ul li:hover ul{display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: rgb(60, 129, 129); 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: rgb(159, 195, 242);}

#carrito{
    background-color: wheat;
   
}
#cajita{
    cursor: pointer;
    width: 70px;
    height: 50px;
    
}
#carrito:hover{
    background-color: rgb(93, 96, 83);
    
}


#titulo {
    font-family: sans-serif;
    font-size: 3.69rem;
    color: rgb(0, 0, 0);
}

.parrafo{
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 1rem;
    color: rgb(0, 0, 0);
}



#sesion {
    color: white;
    background-color: black;
    border: 1px solid;
    border-radius: 10px;
}

#registro {
    color: white;
    background-color: black;
    border: 1px solid;
    border-radius: 10px;    
}


/* FOOTER */
.footer{
    position: relative;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background:#000;
    padding:30px 0px;
    font-family: sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }

    .imgmastercard{
        height: 50px;
        width: 60px;
    }
    .imgvisa{
        height: 50px;
        width: 70px;
    }
    .imgpluxee{
        height: 50px;
        width: 50px;
    }

    /*bloques de tyc, nosotros y politicas*/
    .bloque-tyc {
        background-color: rgba(255, 255, 255);
        padding: 2rem;
        margin: 2rem auto;
        width: 80%;
        max-width: 900px;
        border-radius: 15px;
        line-height: 1.6;
    }

    .bloque-tyc h2 {
        margin-top: 1.5rem;
        color: #000000;
    }

    .bloque-tyc p {
        margin-bottom: 1rem;
    }
    /*bloque del blog*/
        .blog-bloque {
    background-color: rgba(255, 255, 255);
    padding: 1rem;
    margin: 2rem auto;
    width: 80%;
    max-width: 900px;
    border-radius: 15px;
    overflow: auto;
    }

    .blog-bloque h2 {
        text-align: center;
        margin-top: 1.5rem;
        color: #000000;
    }

    .imgblog1{
        height: 130px;
        width: 120px;
        float: right;
    }

    /*contacto y formulario*/

    .contactos {
        color: white;
        text-align: center;
        font-size: 20px;
    }

    .verde{
        color: green;
    }
    .morado{
        color:rgb(40, 43, 65);
    }