* {
    box-sizing: border-box;
}

.todo {
    background-color: rgb(40, 43, 65);
    height: 12rem;
    margin: 0;
    font-family: sans-serif;
}


.encabezado {
    
    text-align: center;
    flex: 5;
    object-position: center;
    color: rgb(222, 227, 177);
    font-size: 30px;
    padding: 15px;
    border: 5px solid;
    border-radius: 18px;
    background-color: rgb(222, 227, 177);
    margin: 5px;
}

.encabezado .contenido{
    height: 100%;
    display: inline-block;
    
}

#imagen-logo{
    height: 200px;
}

#name_user{color: rgb(0, 0, 0); font-size: 40px;}

#menu{
    flex: 5;
    text-decoration: none;
    color: #FFE2C7;
    font-size: 30px;
    padding: 15px;
    border: 5px solid;
    border-radius: 18px;
    background-color: #FFE2C7;
    margin: 5px;

}
